<a href="https://colab.research.google.com/github/Kalyani19kale/Customer-Segmentation-with-Machine-Learning/blob/main/Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
df = pd.read_excel("/content/online_retail_II.xlsx")

In [ ]:
df.shape
print("Dataset has rows",df.shape[0],"and columns",df.shape[1])

Dataset has rows 525461 and columns 8

In [ ]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [ ]:
df.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [ ]:
df.sample(5) #for random rows

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
330844,521665,22702,BLACK AND WHITE CAT BOWL,6,2010-09-07 15:01:00,2.10,15674.0,United Kingdom
174130,505881,22423,REGENCY CAKESTAND 3 TIER,1,2010-04-26 13:34:00,25.49,NaN,United Kingdom
163506,504918,20677,PINK SPOTTY BOWL,1,2010-04-19 10:36:00,2.51,NaN,United Kingdom
393298,527155,22536,MAGIC DRAWING SLATE PURDEY,1,2010-10-15 11:22:00,0.85,NaN,United Kingdom
293075,517967,21124,SET/10 BLUE SPOTTY PARTY CANDLES,2,2010-08-03 13:03:00,1.25,18048.0,United Kingdom

In [ ]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [ ]:
df.columns.dtype #gives column labels datatype

dtype('O')

In [ ]:
df.dtypes #give data type of data in column

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [ ]:
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.000000,525461,525461.000000,417534.000000
mean,10.337667,2010-06-28 11:37:36.845017856,4.688834,15360.645478
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-21 12:20:00,1.250000,13983.000000
50%,3.000000,2010-07-06 09:51:00,2.100000,15311.000000
75%,10.000000,2010-10-15 12:45:00,4.210000,16799.000000
max,19152.000000,2010-12-09 20:01:00,25111.090000,18287.000000
std,107.424110,NaN,146.126914,1680.811316

In [ ]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [ ]:
print(df.duplicated().sum())

6865

In [ ]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
525456    False
525457    False
525458    False
525459    False
525460    False
Length: 525461, dtype: bool

In [ ]:
#Drop Dupicates
df.drop_duplicates(inplace=True)

In [ ]:
print(df.duplicated().sum())

0

In [ ]:
df.nunique()

Invoice        28816
StockCode       4632
Description     4681
Quantity         825
InvoiceDate    25296
Price           1606
Customer ID     4383
Country           40
dtype: int64

In [ ]:
df.nunique().sum()

np.int64(70279)

In [ ]:
categorial_data=df.select_dtypes(include=["object"])
print(categorial_data.columns)

Index(['Invoice', 'StockCode', 'Description', 'Country'], dtype='object')

In [ ]:
numerical_columns = df.select_dtypes(include=['number']).columns
print(numerical_columns)

Index(['Quantity', 'Price', 'Customer ID'], dtype='object')

In [ ]:
numerical_analysis=df[numerical_columns].describe()
print(numerical_analysis)

            Quantity          Price    Customer ID
count  518596.000000  518596.000000  410763.000000
mean       10.438152       4.716176   15353.621857
std       108.126593     147.090460    1681.657665
min     -9600.000000  -53594.360000   12346.000000
25%         1.000000       1.250000   13979.000000
50%         3.000000       2.100000   15311.000000
75%        10.000000       4.210000   16797.000000
max     19152.000000   25111.090000   18287.000000

In [ ]:
for column in numerical_columns:
  print(f"Column Name: {column}")
  mean_val=df[column].mean()
  median_val=df[column].median()
  mode_val=df[column].mode()
  std_dev =df[column].std()
  variance =df[column].var()
  print(f"Mean: {mean_val}")
  print(f"Median: {median_val}")
  print(f"Mode: {mode_val}")
  print(f"Standard Deviation: {std_dev}")
  print(f"Variance: {variance}")

Column Name: Quantity
Mean: 10.43815224182215
Median: 3.0
Mode: 0    1
Name: Quantity, dtype: int64
Standard Deviation: 108.12659284941847
Variance: 11691.360081223913
Column Name: Price
Mean: 4.716175739882297
Median: 2.1
Mode: 0    1.25
Name: Price, dtype: float64
Standard Deviation: 147.09046027673347
Variance: 21635.603504421302
Column Name: Customer ID
Mean: 15353.621857372744
Median: 15311.0
Mode: 0    14911.0
Name: Customer ID, dtype: float64
Standard Deviation: 1681.657665009274
Variance: 2827972.502284444

In [ ]:
#RFM
data_columns=['Quantity', 'InvoiceDate','Price', 'Customer ID']
for column in data_columns:
  if column in df.columns:
     print(f"columns : {column}")
     #gives unique value in that column
     unique_levels=df[column].unique()
     print(f"Unique levels: {unique_levels}")
     #give for that unique value how much number of value exist eg high=80 low=30
     level_distribution=df[column].value_counts()
     print(f"level distribution :\n{level_distribution}")
     #gives max value for that column
     most_frequent_level = level_distribution.idxmax()
     print(f"Most Frequent Level: {most_frequent_level}")

columns : Quantity
Unique levels: [   12    48    24    10    18     3    16     4     2     6     8     1
    28    30    60    32    56     9    25    36    20   -12    -6    -4
   -24    -3    -2   576   288    27   -96    64   160  -240  -192     5
    -1    72    50    54   -50     7   800    11    58   192    96   144
   100   180   216    15   240    22   108    33    90    81   -81   -48
    17    -5    14    13    40    -8    -9    21   120   -44   230 -1043
  -117   200   168    19   280   128  -150   -18   -23    80   300   450
    61  -770  -720   480    -7    88    46   -31   -16   954  -954  -200
   504    45   467 -1012  4320  5184  4008   -25   600   505   500    23
    74    47   -89   432   252    75   184  -600  -504  -252  -246  -169
    31    38  -106   -36   360   107    49   -42    42    66   -10  -725
   222    34    52   270   -20   -30   -60  3000   400    70   936   -32
  -120    35  -126   -64  -168  -100   256  -108   -67  -360  1500    65
   -58   320   130    26   -45   -54  1002  1080   -46    29  -136 -1395
   -13    67  -350   960   864   150   126   468  -322   -76   -21   -99
   336   -29   -17   208   334   124   125   117   -47   -39    39  -396
    55  -152   -11    78   -70   -38   -19  -144   250   -91  2300   520
   920  1800   152    76    79   187   453   348   445   784    37  2000
   174   163    77   350   526    86  -113  -207    43   316  -632    98
   112    59   -14  -292   -15   -84    89  -104  -450   408   -43  1440
   832   624   204   198   608   224 -2127   -95  -260   720   900  -159
  -275   -71   -22   -75  -116   -90  -514   271    41   264   225   104
   312   164  -428   214   -68  -512  -290  -300   303   110  -190   -72
   284   118    71  -160   429  -400  1146  -109  -181   -27   -40  6012
   866  6144  2040  2520  3888  5280  4800  6768  9312 -1198 -1129  -378
  -170  -148  -121  -179   384   185   -37   -57    44  -171   -66 -3669
  -211   132  -132   -65   219  -141   -26   229    62    82   114  -243
   -51   260  -441   156  -284   460   -80    84   106  -460   374   190
  -191   -79  -210   -86   484   171 19152  3312  1344  2504  1968   482
  4176  2880  6696  1200  1400  4200   696  3360  3200  3040  2700   115
    51   -82  -377  -451 -2504  9456  -342 -4200   176    53   -53  -142
  -110   -28  -352  -128  -330  -700   700   -62   347  1008  -118   -34
   -33  -146  -129  -115   140   -69   -63   -56   -61  -455  -432  -212
  2472   524  -499  -355  -280  -420  -130   -52   -93  -299  -245   -85
   -78  -198  -283   -97  -338  -140  -800 -1782  -205   141   537 -3300
   129  -122  -310  -250   -35   -59   -49 -2916  -370    99   205   247
  -233   420   372  2016  -134    87   992 12960 12480 12744  1110  4608
  5364  1152    68    91   148 -1060  1000   640   -92  -900  -394 10000
   -74 -5200 -5000   899  -161  -328  -127   135   -41   840   816  -267
 -3140   210   161   188   145   189    73   363   234    93    83   101
    57   267   324   648    85  -112  -716  -114  -276   -55   102  -408
 -1020 -9200 -1440 -1800 -4800   498   768  -288  -204   681   528  2651
   327 -1120   246   516  -135  -173  -218   -88   299  3600   -98  -234
  -145  -257   560 -3000  -843    97  -180  -626  -309 -3340   392   -73
   396   612 10200   -87   322 -2200  -119  -359  -259  -201  -125   279
  -966  -101  -143  -194 -1000  -105  -220  -225 -9000  -193 -2300   195
  -500  -156   105   175  -480  -312   404   136 -1200  -235   598  -111
  -163  -196   680   540  5000  2500  -244   808  2664  1728   228  2972
  1098  1128   684  -590   -77  -440   142   276  -851  -230   207  -123
  -164   134   830  -830   730   122   293  3500   287  -588  -399  -285
  1056   220   352 -1158   850  -107  2400  -266   170  -576  -320  -648
   248   330  -155 -7100  -239    95  -137  -256 -7000  -151  -153  -264
  -599  2560   113 -2560   235  -162   387  -387  -206  2304  1120  6000
  9600   985 -1227  3936  2976  4752  1872  1116   567   984  1308  2112
  2952  4992  2496  3648  1536  1248  1632  7008  7128  3072   444  3744
  1104    63 -4999   239   123   157   159  -410 -6000 -9600  -295  -412
 -1400  -470   143   138   149   177  -231  1520 -1520  -315   254   121
  -317   394   201   103  1920  3960  -999 -1480  -242  -364 -4354   876
   756  -575   672  -324  2004  -728  1512   704   760   464 -5184 -1248
 -1536  -864 -3648 -2496 -4992 -2952 -2112 -1308  -984  -768  -684  -567
 -1116  -372 -1872 -4752 -4320 -1104  -960 -4608 -2000 -3744  -444 -3072
 -7128 -7008 -1632 -2976 -3936   139   162   448   304  -569  3120  1224
   196   402   625  -390  -178  -166   109  1240   155  -216 -1152  -174
  -384   888  -223  -490   137 -1609   512 -1500  1944  1960  9360  6336
  -270 -8800 -6400   203   407   367   274    94   111   585   127  1540
   286   131   354  -258   169   486   243  -189   154   563   290   328
   513   133   119   902   242   874   835   151   165   389   236   317
   441   213   212 -2400  1680  -327  -248  1584   555  -411  -213    69
 -9360  1824   378   258   972  1488  1394  -723  -177]
level distribution :
Quantity
 1       141277
 2        77378
 12       60401
 6        44096
 3        35367
          ...
-292          1
 299          1
 3600         1
-234          1
-2200         1
Name: count, Length: 825, dtype: int64
columns : InvoiceDate
Unique levels: <DatetimeArray>
['2009-12-01 07:45:00', '2009-12-01 07:46:00', '2009-12-01 09:06:00',
 '2009-12-01 09:08:00', '2009-12-01 09:24:00', '2009-12-01 09:28:00',
 '2009-12-01 09:43:00', '2009-12-01 09:44:00', '2009-12-01 09:46:00',
 '2009-12-01 09:50:00',
 ...
 '2010-12-09 17:25:00', '2010-12-09 17:27:00', '2010-12-09 17:32:00',
 '2010-12-09 17:34:00', '2010-12-09 18:09:00', '2010-12-09 18:58:00',
 '2010-12-09 19:23:00', '2010-12-09 19:28:00', '2010-12-09 19:32:00',
 '2010-12-09 20:01:00']
Length: 25296, dtype: datetime64[ns]
level distribution :
InvoiceDate
2010-12-06 16:57:00    675
2010-12-09 14:09:00    652
2010-12-07 15:28:00    601
2010-12-06 09:58:00    597
2010-12-03 11:36:00    593
                      ...
2010-10-18 14:55:00      1
2010-10-18 14:54:00      1
2010-12-09 16:11:00      1
2010-12-09 15:38:00      1
2010-12-09 15:36:00      1
Name: count, Length: 25296, dtype: int64
columns : Price
Unique levels: [  6.95   6.75   2.1  ... 620.68 822.94  85.79]
level distribution :
Price
1.25      52890
0.85      40139
2.95      37401
1.65      34903
2.10      24204
          ...
140.35        1
25.02         1
56.89         1
33.45         1
607.53        1
Name: count, Length: 1606, dtype: int64
columns : Customer ID
Unique levels: [13085. 13078. 15362. ... 12942. 13369. 15211.]
level distribution :
Customer ID
14911.0    5707
17841.0    5015
14606.0    3863
14156.0    2708
12748.0    2562
           ...
14613.0       1
13270.0       1
16995.0       1
17925.0       1
12636.0       1
Name: count, Length: 4383, dtype: int64